.anylinkcss {
position:absolute;
visibility: hidden;
border:1px solid white;
border-bottom-width: 0;
font:normal 12px Verdana;
line-height: 18px;
z-index: 100;
background-color: #466176;
width: 205px;
}

.anylinkcss a {
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid white;
padding: 1px 0;
text-decoration: none;
font-weight: bold;
text-indent: 5px;
text-align: center;
}

.anylinkcss a:hover { /*hover background color*/
background-color: white;
color: #466176;
border: 1px solid #EE7B11;
}
